body{
    background-color: rgba(247,246,255,255);
}
.to-center{
    margin: auto auto;
    width: 50%;
}
.plus-addNewCollection{
    border-width: 0;
}
.list-group-item.active{
    background-color: rgb(98, 24, 234);
    /* color: black; */
}

/* draggable */
.react-draggable, .cursor {
    cursor: move;
}
.no-cursor {
    cursor: auto;
}
.box {
    /* background: #fff; */
    /* border: 1px solid #999; */
    border-radius: 3px;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    float: left;
}
.react-draggable strong {
    background: #ddd;
    /* border: 1px solid #999; */
    border-radius: 3px;
    display: block;
    /* margin-bottom: 10px; */
    padding: 3px 5px;
    text-align: center;
}



.outer-container-div{
    height: 100vh;
    width: 100vw;
    margin: 20px auto;
}
.outer-container{
    margin: auto 0;
}
.col-leftside-container{
    height: 100vh;
}
#row-leftside-container{
    width: 150px;
    height: 150px;
}
.sideBar-container{
    background-color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;

    width: 200px;
    height: 100px;
    /* padding: 30px; */
    /* margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; */
    
}
#sideBar{
    margin: 10px auto;
    width: 70%;
}





#userPic {
    margin: 10px;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    background-color: white;

}
.userPic-container{
    width: 150px;
    height: 150px;
}



.mainContent-div{
    background-color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;

    height: 100%;
    margin-bottom: 20px;
}

.mainContent-container{
    margin: 30px;
}

.mainContent-card{
    margin-bottom: 200px;
}
.mainContent-plussign{
    display: flex;
    margin-left: 10px;
}
.mainContent-card-title{
    text-align: center;
    margin: 10px auto;
}
.mainContent-taskList{
    overflow-y: scroll;
    flex: 1;
    /* margin: 5px auto; */
}
.mainContent-addNewTask-inputGroup{
    margin-top: 2px;
}